* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: unset;
    background-color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
}

@media screen and (min-width: 1440px) {
    body {
        margin: 0 164px;
        min-height: 100dvh;
    }
}