@mixin cartStyle {
    position: fixed;
    right: 5px;
    background-color: white;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0 10px 25px -20px;
    transition: 0.4s;

    h3 {
        border-bottom: 1px solid #e9e9e9;
        padding: 25px;
    }

    .cart-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .message {
            font-weight: 700;
            color: #7d7f84;
            padding: 80px;
        }
    }
}

.cart-btn {
    padding: 0 22px;
  
    .num-of-products {
        padding: 0 5px;
        border: 2px solid $orange;
        border-radius: 15px;
        background-color: $orange;
        color: white;
        font-size: 10px;
        position: absolute;
        margin: -10px -12px;
    }
}

.cart-container {
   @include cartStyle();
   top: 75px;
   width: 365px;
   z-index: 1;
}

.cart-container-close {
    @include cartStyle();
    top: -750px;
    width: 0;
}

@media screen and (min-width: 1024px) {
    .cart-btn {
        padding: 0 60px;
        img {
            width: 26px;
            height: 26px;
        }

        .num-of-products {
            padding: 0 8px;
            font-size: 14px;
        }
    }
}