header {
    width: 100%;
    height: 67px;
    padding: 22px 33px 27px 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-section {
        display: flex;
        align-items: center;
        justify-content: center;

        .profile-img {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 50%;
            &:hover {
                border-color:  $orange;
            }
            
            img {
                width: 25px;
                height: 25px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 112px;
        border-bottom: 1px solid #8284893e;

        .user-section {
    
            .profile-img {
                width: 53px;
                height: 53px;

                img {
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
}