.main-container {
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
   
}